@import "tailwindcss";
@keyframes slide-left-right {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(8px);
  }
}
.arrow-slide{
    animation: slide-left-right 2s infinite;

}

.stroke-text {
  -webkit-text-stroke: 2px #031b40;
  
}

